.meeting-page {
  display: flex;
  justify-content: center;
}

.babich-button {
  background-color: rgba(74, 156, 255, 0);
  transition: background-color 0.4s;

  &:hover {
    background-color: rgba(74, 156, 255, 1);
  }
}

.babich-call-info {
  position: absolute;
  left: -200%;
  width: 100%;
  transition: left 0.4s;
}

.babich-sidebar {
  position: relative;
  right: -200%;
  transition: right 0.3s;
}

.dropdown-meeting {
  background-color: $primary-dark;

  &.is-closed {
    padding-bottom: 0 !important;
  }

  > div:first-child {
    border-bottom: 1px solid #262840;
  }

  &_toggle_button {
    background-color: rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    transition: transform ease-in 0.3s;

    &.is-open {
      transform: rotate(180deg);
    }
  }

  &_content {
    height: 0;
    overflow: hidden;
    transition: height ease-in 0.3s;

    &.is-open {
      height: unset;
      overflow: visible;
      transition: height ease-in 0.3s;
    }
  }
}

.main-video {
  min-height: 700px;
  background-color: $white;

  &__video_place {
    object-fit: cover;
  }

  &_details {
    background: rgba(0, 0, 0, 0.5);

    &_button {
      background-color: $white;
      width: 30px;
      height: 30px;
    }
  }

  &_call_info {
    background: $primary-dark;
    &.light-mode{
      background: $light-primary-dark;
    }
  }

}

.note-column {
  &_preview {
    height: 250px;
  }

  .setting-menu {
    .dropdown-menu {
      right: 0;
      bottom: 3rem;
      height: auto;
    }
  }
}

.meeting-fullscreen {
  background: rgb(102, 102, 102);
  height: 100vh;

  &_column {
    width: 400px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;

    &_details {
      height: calc(100vh - 200px);
      color: $white;
    }
  }

  &_open_column {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .dropdown-meeting {
    color: $white;
  }

  &_video {
    position: absolute;
    right: 70px;
    height: 263px;
    width: 412px;
    top: 70px;
  }

  &_notes {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
    width: calc(100% - 400px);
    position: absolute;
    bottom: 0;
    right: 0;
    color: $white;
  }

  .main-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background: transparent;
    height: 100%;
  }
}

.main-video {
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.video-setting-wrapper {
  position: relative;
  padding-top: 75%;
  border: solid 4px #1b1550;
  border-radius: 11px;
  background-color: #070b2c;

  video {
    top: 0;
  }
}

.audio-indicator-wrapper {
  display: flex;
  padding-top: 1rem;
  overflow-x: hidden;

  .audio-indicator-item {
    background: $white;
    width: 10px;
    min-width: 8px;
    height: 10px;
    padding-left: 3px;
    margin-left: 3px;

    &.active {
      background: #3232e7;
    }
  }
}

.virtual-modal-container {
  width: 588px !important;

  .virtual-bg-image-wrapper {
    display: inline-grid;
    position: relative;
    column-gap: 9px;
    grid-template-columns: auto auto;
    max-height: 221px;
    overflow-y: auto;

    .virtual-bg-image-option {
      width: 107px;
      height: 69px;
      margin-top: 8px;
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #525252;

      &.active {
        border: 4px solid #246fe5;
      }

      // .active {
      //   border-color: blue;
      // }
    }
  }
}
